/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../_sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../_sass/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../_sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../_sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../_sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../_sass/main.scss */
img {
  vertical-align: middle;
}

/* line 41, ../_sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../_sass/main.scss */
textarea {
  resize: vertical;
}

/* line 51, ../_sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Fonts / Icon Fonts
   ========================================================================== */
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
* 
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocial";
  src: url("/fonts/ss-social-regular.eot");
  src: url("/fonts/ss-social-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/ss-social-regular.woff") format("woff"), url("/fonts/ss-social-regular.ttf") format("truetype"), url("/fonts/ss-social-regular.svg#SSSocialRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 87, ../_sass/main.scss */
.ss-icon, .ss-icon.ss-social, .ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"][class*=" ss-social"]:before, [class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after, [class*=" ss-"][class*=" ss-social"].right:after {
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* line 105, ../_sass/main.scss */
.ss-icon.ss-social-circle,
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
  font-weight: bold;
}

/* line 109, ../_sass/main.scss */
[class^="ss-"].right:before, [class^="ss-"][class*=" ss-social"].right:before {
  display: none;
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-facebook:before, .ss-facebook.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-twitter:before, .ss-twitter.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-linkedin:before, .ss-linkedin.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-googleplus:before, .ss-googleplus.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-tumblr:before, .ss-tumblr.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-wordpress:before, .ss-wordpress.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-blogger:before, .ss-blogger.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-posterous:before, .ss-posterous.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-youtube:before, .ss-youtube.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-vimeo:before, .ss-vimeo.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-flickr:before, .ss-flickr.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-instagram:before, .ss-instagram.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-pinterest:before, .ss-pinterest.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-dribbble:before, .ss-dribbble.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-behance:before, .ss-behance.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-github:before, .ss-github.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-octocat:before, .ss-octocat.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-paypal:before, .ss-paypal.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-foursquare:before, .ss-foursquare.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-skype:before, .ss-skype.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-rdio:before, .ss-rdio.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-spotify:before, .ss-spotify.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-lastfm:before, .ss-lastfm.right:after {
  content: '';
}

/* line 111, ../_sass/main.scss */
.ss-mail:before, .ss-mail.right:after {
  content: '✉';
}

/* line 111, ../_sass/main.scss */
.ss-like:before, .ss-like.right:after {
  content: '👍';
}

/* line 111, ../_sass/main.scss */
.ss-rss:before, .ss-rss.right:after {
  content: '';
}

/* ==========================================================================
   Sass Extensions
   ========================================================================== */
/* line 117, ../_sass/main.scss */
.ease-in-out, .btn, .btn::after, .btn:hover, .hero-nav, .additonal-posts .additonal-post, .social-nav a {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */
/* line 129, ../_sass/main.scss */
.left {
  float: left;
}

/* line 133, ../_sass/main.scss */
.right {
  float: right;
}

/* line 137, ../_sass/main.scss */
body {
  font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  padding-top: 130px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@media (max-width: 767px) {
  /* line 137, ../_sass/main.scss */
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

/* line 154, ../_sass/main.scss */
p a {
  border-bottom: 1px solid black;
  color: #000;
}
/* line 158, ../_sass/main.scss */
p a:hover {
  color: #000;
  border-bottom: 2px solid black;
  text-decoration: none;
}

/* line 166, ../_sass/main.scss */
blockquote p {
  font-size: 22px;
}

/* line 171, ../_sass/main.scss */
body.work {
  text-align: center;
}

/* line 175, ../_sass/main.scss */
.masthead {
  position: absolute;
  max-width: auto;
  width: 100%;
}

/* line 181, ../_sass/main.scss */
h2 {
  letter-spacing: .1em;
  margin: 0;
  text-transform: uppercase;
}

/* line 187, ../_sass/main.scss */
h3 {
  letter-spacing: .1em;
  margin: 0 0 20px 0;
  opacity: .4;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 20px;
}

/* line 196, ../_sass/main.scss */
p {
  margin: 0 0 20px;
  line-height: 1.5em;
  font-size: 16px;
}

/* line 202, ../_sass/main.scss */
img {
  max-width: 100%;
}

@media (max-width: 767px) {
  /* line 206, ../_sass/main.scss */
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ==========================================================================
  Buttons
   ========================================================================== */
/* line 218, ../_sass/main.scss */
.btn {
  background: none;
  box-shadow: 0 0 0;
  border: 1px solid #adadad;
  border-radius: 1em;
  color: #adadad;
  line-height: 1em;
  padding: 8px 38px 8px 15px;
  position: relative;
  text-shadow: 0 0 0;
}
/* line 231, ../_sass/main.scss */
.btn::after {
  border-top: 1px solid #adadad;
  border-right: 1px solid #adadad;
  content: " ";
  display: block;
  height: 8px;
  position: absolute;
  right: 17px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}
/* line 249, ../_sass/main.scss */
.btn:hover {
  background: none;
  border-color: #333;
  color: #333;
}
/* line 254, ../_sass/main.scss */
.btn:hover::after {
  border-color: #333;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* line 264, ../_sass/main.scss */
.header {
  background: rgba(255, 255, 255, 0.95);
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  z-index: 100;
  -webkit-transition: padding 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: padding 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: padding 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: padding 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: padding 500ms cubic-bezier(0.86, 0, 0.07, 1);
  /* easeInOutQuint */
}
/* line 276, ../_sass/main.scss */
.scrolled .header {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 281, ../_sass/main.scss */
.header .container {
  /* iPads (portrait) ----------- */
}
@media only screen and (max-width: 768px) {
  /* line 281, ../_sass/main.scss */
  .header .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* line 290, ../_sass/main.scss */
.header-nav {
  float: right;
  margin: 30px 0 0 0;
}
/* line 294, ../_sass/main.scss */
.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 299, ../_sass/main.scss */
.header-nav ul li {
  float: left;
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
  position: relative;
}
/* line 305, ../_sass/main.scss */
.header-nav ul li a {
  color: #353535;
  font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
  font-size: 2em;
  font-weight: 200;
  text-decoration: none;
}
/* line 313, ../_sass/main.scss */
.header-nav ul li.active a {
  text-decoration: line-through;
}
/* line 318, ../_sass/main.scss */
.header-nav ul li:first-child:after {
  border-right: 1px solid #d6d6d6;
  content: "";
  display: block;
  height: 50px;
  font-size: 36px;
  margin: 0 0 20px 0;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  position: absolute;
  right: 0;
  top: -15px;
}
/* line 335, ../_sass/main.scss */
.header-nav ul li:last-child {
  margin: 0;
  padding: 0;
}
/* line 342, ../_sass/main.scss */
.header-nav ul:hover li a {
  text-decoration: none;
}
/* line 345, ../_sass/main.scss */
.header-nav ul:hover li a:hover {
  text-decoration: line-through;
}

/* line 351, ../_sass/main.scss */
body.default .header nav li:first-child a {
  text-decoration: line-through;
}

/* line 355, ../_sass/main.scss */
body.post .header nav li:last-child a {
  text-decoration: line-through;
}

/* line 359, ../_sass/main.scss */
.header-wrapper {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}

/* line 367, ../_sass/main.scss */
.logo {
  display: inline-block;
  float: left;
  margin: 0;
}
/* line 372, ../_sass/main.scss */
.logo a {
  background: url(../img/connor-avatar.png);
  background-size: 100% auto;
  display: block;
  height: 80px;
  width: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 372, ../_sass/main.scss */
  .logo a {
    background-image: url(../img/connor-avatar@2x.png);
  }
}

/* line 385, ../_sass/main.scss */
.post-header {
  background-size: 100% auto !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center 130px !important;
}
/* line 391, ../_sass/main.scss */
.post-header img {
  opacity: 0;
}

/* line 399, ../_sass/main.scss */
.headline-wrap {
  left: 0;
  top: 42%;
  right: 0;
  position: absolute;
}
@media only screen and (max-width: 480px) {
  /* line 399, ../_sass/main.scss */
  .headline-wrap {
    top: 35%;
  }
}

/* line 410, ../_sass/main.scss */
.home-header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  /* iPads (portrait) ----------- */
}
@media only screen and (max-width: 768px) {
  /* line 410, ../_sass/main.scss */
  .home-header h1 {
    font-size: 32px;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 410, ../_sass/main.scss */
  .home-header h1 {
    font-size: 20px;
    line-height: 1.2em;
  }
}

/* line 430, ../_sass/main.scss */
.home-header h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: none;
  text-align: center;
  /* iPads (portrait) ----------- */
}
@media only screen and (max-width: 768px) {
  /* line 430, ../_sass/main.scss */
  .home-header h2 {
    font-size: 18px;
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 430, ../_sass/main.scss */
  .home-header h2 {
    line-height: 1em;
  }
}

/* line 451, ../_sass/main.scss */
.headline {
  -webkit-animation: headlineEase 1s;
  -moz-animation: headlineEase 1s;
  -ms-animation: headlineEase 1s;
  -o-animation: headlineEase 1s;
  animation: headlineEase 1s;
}

/* line 459, ../_sass/main.scss */
#content {
  background: #fff;
  margin-top: 100%;
}

/* line 464, ../_sass/main.scss */
.content {
  margin-top: 40px;
}

/* line 468, ../_sass/main.scss */
.post-header {
  background: #ccc;
  position: relative;
}

/* line 473, ../_sass/main.scss */
.post-header img {
  max-width: none;
  width: 100%;
}

/* line 478, ../_sass/main.scss */
.post-title {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  left: 0;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 47%;
  text-align: center;
}
@media only screen and (max-width: 560px) {
  /* line 478, ../_sass/main.scss */
  .post-title {
    top: 44%;
  }
}
@media only screen and (max-width: 360px) {
  /* line 478, ../_sass/main.scss */
  .post-title {
    top: 40%;
  }
}

/* ==========================================================================
   Hero Nav
   ========================================================================== */
/* line 503, ../_sass/main.scss */
.hero-nav {
  border: 0;
  display: inline-block;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 10%;
  z-index: 1;
}

/* line 515, ../_sass/main.scss */
.post-header:hover .hero-nav {
  opacity: .8;
}

/* line 519, ../_sass/main.scss */
.hero-nav.hero-prev {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  left: 0;
}

/* line 529, ../_sass/main.scss */
.hero-nav.hero-prev:hover {
  opacity: 1;
}

/* line 533, ../_sass/main.scss */
.hero-nav:after {
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  content: '';
  display: inline-block;
  text-indent: -9999px;
  height: 50px;
  left: 25px;
  margin-top: -25px;
  top: 50%;
  position: absolute;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 50px;
}

/* line 552, ../_sass/main.scss */
.hero-nav.hero-next {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  right: 0;
}

/* line 562, ../_sass/main.scss */
.hero-nav.hero-next:hover {
  opacity: 1;
}

/* line 566, ../_sass/main.scss */
.hero-nav.hero-next:after {
  left: auto;
  right: 25px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ==========================================================================
   Related posts
   ========================================================================== */
/* line 584, ../_sass/main.scss */
.additonal-posts:hover .additonal-post {
  opacity: .6;
}

/* line 588, ../_sass/main.scss */
.additonal-posts:hover .additonal-post:hover {
  opacity: 1;
}

/* line 592, ../_sass/main.scss */
.additonal-post {
  position: relative;
  text-align: center;
}

/* line 597, ../_sass/main.scss */
.additonal-post h3 {
  color: #fff;
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  opacity: 1;
  font-size: 34px;
}

/* line 607, ../_sass/main.scss */
.additonal-post img {
  width: 100%;
}

/* ==========================================================================
   Work
   ========================================================================== */
/* line 615, ../_sass/main.scss */
.home-header {
  margin-bottom: 25px;
}

/* line 619, ../_sass/main.scss */
.macbook {
  margin-bottom: 3em;
}

/* line 623, ../_sass/main.scss */
.odd {
  background: #EEEEEE;
}

/* line 627, ../_sass/main.scss */
.work-section {
  padding: 50px 0;
  text-align: center;
}

/* line 632, ../_sass/main.scss */
.work-section p:last-child {
  margin-bottom: 0;
}

/* line 636, ../_sass/main.scss */
.vsco-section img {
  margin-bottom: 30px;
}

/* line 640, ../_sass/main.scss */
.tiny-hr {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
}

/* ==========================================================================
   Blog Posts 
   ========================================================================== */
/* line 651, ../_sass/main.scss */
.instagram-video .post-header img {
  position: relative;
  z-index: 100;
}
/* line 656, ../_sass/main.scss */
.instagram-video .post-title {
  z-index: 101;
}
/* line 660, ../_sass/main.scss */
.instagram-video .fluidVideoWrapper {
  position: absolute;
  top: 0;
}

/* line 667, ../_sass/main.scss */
.instagram-video .post-header:hover .post-title {
  border-bottom: 8px solid white;
}

/* line 673, ../_sass/main.scss */
.fluidVideoWrapper {
  padding: 56.3% 0 0 0;
  width: 100%;
  position: relative;
}

/* line 681, ../_sass/main.scss */
.fluidVideoWrapper iframe,
.fluidVideoWrapper object,
.fluidVideoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 693, ../_sass/main.scss */
footer {
  text-align: left;
}

/* line 697, ../_sass/main.scss */
.footer-nav {
  text-align: center;
}
/* line 700, ../_sass/main.scss */
.footer-nav a {
  color: #000;
  text-transform: uppercase;
}

/* line 707, ../_sass/main.scss */
.social-nav a {
  color: #000;
  display: inline-block;
  font-size: 18px;
  opacity: .5;
  margin-top: 8px;
}
/* line 715, ../_sass/main.scss */
.social-nav a + a {
  margin-left: 10px;
}
/* line 719, ../_sass/main.scss */
.social-nav a:hover {
  opacity: 1;
  border-bottom: 0;
  text-decoration: none;
}

/* ==========================================================================
   Animations
   ========================================================================== */
@-webkit-keyframes headlineEase {
  /* line 732, ../_sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
  }

  /* line 733, ../_sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes headlineEase {
  /* line 737, ../_sass/main.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-25px);
  }

  /* line 738, ../_sass/main.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-ms-keyframes headlineEase {
  /* line 742, ../_sass/main.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-25px);
  }

  /* line 743, ../_sass/main.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-o-keyframes headlineEase {
  /* line 747, ../_sass/main.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-25px);
  }

  /* line 748, ../_sass/main.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes headlineEase {
  /* line 752, ../_sass/main.scss */
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  /* line 753, ../_sass/main.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==========================================================================
   Helper classes - provided by HTML5 Boilerplate
   ========================================================================== */
/* line 760, ../_sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 767, ../_sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 774, ../_sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 779, ../_sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 791, ../_sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 800, ../_sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 805, ../_sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 810, ../_sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 814, ../_sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 823, ../_sass/main.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 831, ../_sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 835, ../_sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 839, ../_sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 849, ../_sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 854, ../_sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 859, ../_sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 864, ../_sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 868, ../_sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 878, ../_sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 884, ../_sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
