<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}
  <body class="post">
    <div class="wrapper">
      {% include nav.html %}
      <div class="post-header" style="background-image: url(/img/{{ page.header-image }});">
          <img src="/img/{{ page.header-image }}" alt="Hello World">
          <h1 class="post-title">{{ page.title }}</h1>
          {% if page.previous.url %} 
            <a href="{{ page.previous.url }} " class="hero-nav hero-prev ir" id="hero-prev">Previous</a>
          {% endif %}
          {% if page.next.url %} 
            <a href="{{ page.next.url }} " class="hero-nav hero-next ir" id="hero-next">Next</a>
          {% endif %}
      </div>

      <div class="content">
        <article class="container">
          {{ content }}
          <div class="span12 text-center">
            <time datetime="{{ page.date | date: "%B %d, %Y" }}" class="art-time">Posted on {{ page.date | date: "%B %d, %Y" }}</time>
          </div>
        </article>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>